<form {{action login on="submit"}}>
	<h2>Log In</h2>
	{{input value=email type="text" placeholder="Email"}}
	{{input value=password type="password" placeholder="Password"}}
	{{input type="submit" value="Log In"}}
</form>
{{#if errorMessage}}
	<div class="error">
		<h2>Login Failed!</h2>
		<h3>{{errorMessage}}</h3>
	</div>
{{/if}}